[submodule "myosuite/simhive/myo_sim"]
	path = myosuite/simhive/myo_sim
	url = https://github.com/cherylwang20/myo_sim.git
[submodule "myosuite/simhive/furniture_sim"]
	path = myosuite/simhive/furniture_sim
	url = https://github.com/vikashplus/furniture_sim.git
[submodule "myosuite/simhive/object_sim"]
	path = myosuite/simhive/object_sim
	url = https://github.com/vikashplus/object_sim.git
[submodule "myosuite/simhive/MPL_sim"]
	path = myosuite/simhive/MPL_sim
	url = https://github.com/vikashplus/MPL_sim.git
	branch = myochallenge
[submodule "myosuite/simhive/YCB_sim"]
	path = myosuite/simhive/YCB_sim
	url = https://github.com/vikashplus/YCB_sim.git
