# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  pull-requests: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install mesa and patchelf
      run: |
        sudo apt-get install -y \
            libgl1-mesa-dev \
            libgl1-mesa-glx \
            libglew-dev \
            libosmesa6-dev \
            software-properties-common
        sudo apt-get install -y patchelf
    - name: Enable Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: anaconda-client-env
        auto-activate-base: false
    - name: Test Conda
      run: |
          conda info
          CONDA_DEFAULT_ENV=test_myosuite
          conda create --name $CONDA_DEFAULT_ENV python=3.7.1 -y
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
        pip install numpy==1.22.4
    - name: Install ffmpeg
      run: |
        sudo apt-get install --no-install-recommends ffmpeg && pip install ffmpeg scikit-video
    - name: Run Test environmenta
      run: |
        python myosuite/tests/test_myo.py
    - name: Run Test jupyter-notebooks tutorials
      run: |
        source myosuite/tests/test_tutorials.sh
